<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
    <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
    {% for link in site.footer.links %}
    {% if link.label and link.url %}
    <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}"
          aria-hidden="true"></i> {{ link.label }}</a></li>
    {% endif %}
    {% endfor %}
    {% endif %}

    <li><a
        href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i
          class="fas fa-fw fa-rss-square" aria-hidden="true"></i>
        {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.
  {{ site.data.ui-text[site.locale].powered_by | default: "Powered by" }} <a href="https://jekyllrb.com"
    rel="nofollow">Jekyll</a>, <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/"
    rel="nofollow">Minimal Mistakes</a> {{ site.data.ui-text[site.locale].and | default: "and" }} <a
    href="https://docs.gitlab.com/ee/user/project/pages/">GitLab Pages</a>.</div>